
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    user-select: none;
}

html:root {
    --bg-one: #ffffff;
    --bg-two: #fafafa;   
    --txt-one: #111517;   
    --txt-two: #848484;
    --shadow: #dddddd;
}

html.dark:root {
    --bg-one: #2B3844;
    --bg-two: #202c36;   
    --txt-one: #ffffff;   
    --txt-two: #ffffff;
    --shadow: #00000031;
}

body {
    background: var(--bg-two);
}

.main_header {
    background: var(--bg-one);
    width: 100%;
    box-shadow: 0px 0px 12px 4px var(--shadow);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header .container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_title {
    color: var(--txt-one);
}

.theme_toggler {
    cursor: pointer;
    user-select: none;
    padding: 12px 24px;
    border-radius: 12px;
    color: var(--txt-one);
    border: 1px solid var(--txt-one);
    transition: all 0.3s ease-in-out;
}

.theme_toggler:hover {
    background: var(--txt-one);
    color: var(--bg-one);
}

.main_box {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.main_box .container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.filter_box {
    display: flex;
    justify-content: space-between;
}

.find_lab {
    position: relative;
    max-width: 460px;
    min-height: 55px;
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 12px 4px var(--shadow);
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
}

.find_lab span {
    position: absolute;
    z-index: 1;
    margin-top: 18px;
    margin-left: 22px;
    cursor: pointer;
    color: var(--txt-one);
}

.find_lab input {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 60px;
    font-size: 14px;
    background: var(--bg-one);
    color: var(--txt-one);
}

.find_lab input::placeholder {
    color: var(--txt-one);
}

.filter_box select {
    width: 200px;
    padding: 12px;
    font-size: 14px;
    outline-color: dodgerblue;
    border-radius: 12px;
    background: var(--bg-one);
    cursor: pointer;
    color: var(--txt-one);
    box-shadow: 0px 0px 12px 4px var(--shadow);
}

.country_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    padding: 20px 20px;
    justify-content: center;
}

.country_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    gap: 12px;
    background: var(--bg-one);
    box-shadow: 0px 0px 12px 4px var(--shadow);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition:transform 0.5s ease-in-out;
    color: var(--txt-one);
}

.country_card:hover {
    transform: scale(0.95);
}

.card_dec {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 12px;
    height: 100%;
    justify-content: space-between;
}

.card_dec_details {
    font-size: 18px;
    display: flex;  
    flex-direction: column;
}

.card_dec_details span b {
    font-weight: 550;
}

.country_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    .country_box {
        padding: 0px;
    }
    .country_card {
        width: 300px;
    }

    .find_lab {
        max-width: 320px;
    }
}

@media (max-width: 659px) {
    .country_box {
        padding: 20px;
    }
    .country_card {
        width: 100%;
    }

    .filter_box {
        flex-direction: column;
        gap: 25px;
    }

    .find_lab {
        max-width: 100%;
    }

    .filter_box select {
        width: 100%;
    }
}